/* GENERAL */

.full-vh {
    height: 100vh;
}

.full-height {
    height: 100%;
}

body {
    font-family: 'Do Hyeon', sans-serif;
}

h1 {
    font-family: 'Jua', sans-serif;
}

.logo-container {
    margin-bottom: 2rem;
}

.main-logo {
    width: 80%;
    margin: auto;
}

.logo {
    width: 100%;
}

#nav-logo-title {
    display: none;
}


/* HOME PAGE */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main-h2 {
    font-size: 1.5rem;
}

.main-btn {
    margin: .5rem;
}


/* LOGIN PAGE */


.navbar-brand {
    margin-right: 0;
}

/* SIGN IN & REGISTRATION FORMS */

.auth-form-container {
    justify-content: space-around;
}

.auth-form {
    margin-top: 2rem;
}

.form-alt-actions{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

/* CONFIRMATION PAGE */

#confirm-container,
#confirm-alert {
    margin: auto;
}

/* DASHBOARD PAGE */

.dash-h2 {
    text-transform: uppercase;
}

.table-title {
    text-align: center;
}

.table-container {
    margin-bottom: 5rem;
}

.play {
    margin: 5rem auto;
}

/* GAME PAGE */

#game-diff-form {
    width: 125px;
    margin: 2rem auto;
}

#currentScore,
#game-over,
#game-board,
#quit {
    display: none;
}

#cards {
    display: flex;
    flex-wrap: wrap;
}

.easy,
.medium,
.hard,
.insane {
    justify-content: center;
}

.easy {
    width: 250px;
    margin: 2rem auto;
}

.card-easy {
    width: 80px;
    height: 100px;
    margin: 5px;
}

.medium {
    width: 290px;
    margin: 4rem auto;
}

.card-medium {
    width: 60px;
    height: 80px;
    margin: 5px;
}

.hard {
    width: 290px;
    margin: .25rem auto;
}

.card-hard {
    width: 60px;
    height: 75px;
    margin: 5px;
}

.insane {
    width: 290px;
    margin: .5rem auto;
}

.card-insane {
    width: 60px;
    height: 45px;
    margin: 5px;
}


.card-front,
.card-back {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-front {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.flip {
    transition: transform 1s;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.flop {
    transition: transform 0.5s;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

#cards img {
    width: 100%;
    height: 100%;
}


/* MODAL */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;

}

.modal-body {
    text-align: center;
    background: white;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    #confirm-alert {
        max-width: 60%;
    }

    .table-container {
        max-width: 75%;
        margin: 0 auto 5rem auto;
    }

    #nav-logo-title {
        display: inline;
    }

    .main-logo {
        width: 60%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #game-diff-form,
    .easy,
    .medium {
        margin: 5rem auto;
    }

    .easy,
    .medium {
        width: 500px;
    }
    
    .card-easy,
    .card-medium {
        width: 100px;
        height: 125px;
        margin: 10px;
    }

    .hard,
    .insane {
        width: 690px;
        margin: 2rem auto;
    }
    
    .card-hard,
    .card-insane {
        width: 90px;
        height: 115px;
        margin: 10px;
    }    

    .card-front,
    .card-back {
        margin: 0;
        padding: 10px;
    }

    .table-container {
        max-width: 100%;
        margin: 0 auto 5rem auto;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #confirm-alert {
        max-width: 50%;
    }

    #game-diff-form {
        margin: 10rem auto 5rem;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}